/Cliente/NodeJS/npm/cowsay/node_modules
/Interfaces/EXPRESS/ejemploExpress00/node_modules
/Interfaces/EXPRESS/ejemploExpress01/node_modules
/Interfaces/EXPRESS/ejemploExpress02/node_modules
/Interfaces/EXPRESS/ejemploExpress03/node_modules