
  .navbar-brand img {
    max-width: 100%;
    height: auto;
  }
  
  .social-links a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
  }
  
  .icono-nav {
    margin-left: 20px;
  }
  
  .black{
    color:#000000!important;
  }
  .red {
    background-color: #9b1a1a;
  }
  
  .green{
      color: #35c305;
  }
  
  .blue{
    background-color: #1a569b;
  }

  .form-section{
    display: flex;
    justify-content: center;
    
    
  }

  form {
    background-color: #fff;
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


#captcha {
    margin-bottom: 16px;
}

#captcha span {
    font-weight: bold;
    margin-right: 5px;
}

#respuestaCaptcha {
    margin-left: 10px;
}

.check-icon {
    color: green;
}

.times-icon {
    color: red;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.section h2 {
  color: #333333;
}

.section p, .section address {
  color: #555555;
}

.accordion-item {
  cursor: pointer;
}

.accordion-body {
  display: block;
}

.active {
  display: none;
}