body {
    margin: 0;
    padding: 0;
    background-color: #0f041d;
    color: #FFFFFF;
 }
 
 @media (min-width: 992px) {
   .logo-lg {
     display: block;
   }
   .logo-sm {
     display: none;
   }
 }

 @media (max-width: 991px) {
   .logo-lg {
     display: none;
   }
   .logo-sm {
     display: block;
   }
 }
 

    .navbar {
      background-color: #1A0B2E; /* Puedes cambiar el código de color a tu gusto */
    }

    
    .navbar-nav .nav-link {
      color: #ffffff; /* Puedes cambiar el código de color a tu gusto */
    }

 .barra-vertical-1 {
    background-color: #693B93;
    width: 5px;
    height: 330px; 
    position: absolute;
    left: -10px;
   margin-top: 10px;
 }
 .barra-vertical-2 {
    background-color: #693B93;
    width: 5px;
    height: 120px; 
    position: absolute;
    left: -10px;
    
 }

 .rama-horizontal {
    background-color: #693B93;
    position: absolute;
    top: 29px;
    left: -10px; 
    height: 5px;
    width: 40px; 
 }
 
 .circulo {
    border: 5px solid #693B93; 
    background-color: transparent; 
    border-radius: 50%; 
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8.1px;
    left: 39px; 
}
 
 .title-section{
    margin-left: 40px;
}

 .seccion {
    margin-left: 20px; 
    padding: 20px;
    position: relative; 
 }

 .seccion-2 {
   left: -20px;
   padding: 20px;
   position: relative; 
}

 
 
.terminal {
      background-color: #282a2e;
      color: #c5c8c6;
      padding: 20px;
      width: 100%;
      height: auto; /* Ajustar la altura automáticamente */
      border-radius: 10px;
      overflow-y: auto; /* Añadir desplazamiento vertical si es necesario */
    }

 .rosa{
color : #d57bff;
 }

 .verde{
color : #00d952;
 }

 .rojo{
color : #f05674;
 }

 .lila{
color : #b4baff;

 }

 .amarillo{
color: #ffd700
 }

 .azul{
color: #41b3ff
 }
 